<% if @book.errors.any? %>
    <%=@book.errors.count %> errors occurred.
        <ul>
            <% @book.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
        </ul>
<% end %>

